.content {
  width: 100%;
  position: relative;
  float: left;


    .poster-container {
      float: left;
      display: block;
      width: 100%;
      .poster-img-container {
        width: 25%;
        overflow: hidden;
        float: left;
        margin-left: 8%;
        max-height: 330px;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .shape {
      height: 11px;
    }
    .bread-crumbs {
      display: inline-block;
      padding: 20px 0;
      a {
        display: inline;
        font-family: $rb;
        color: #242424;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          color: #ff3432;
        }
      }
      span {
        display: inline;
        font-family: $rb;
        color: #242424;
        font-size: 14px;
      }
      p {
        display: inline;
        font-family: $rb;
        color: #242424;
        font-size: 14px;
      }
    }
    .poster-description {
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      display: block;
      padding: 0 42px;
      .poster-descr-header {
        font-family: $rb;
        font-size: 16px;
        font-weight: 600;
      }
      .poster-descr-top {
        font-family: $rr;
        font-size: 14px;
        padding-right:10px;
      }
      .by-ticket-container {
        text-align: center;
        width: 80%;
        height: 140px;
        background-color: #ebebeb;
        border-radius: 15px;
        padding-top: 40px;
        .price {
          font-family: $rb;
          font-size: 22px;
          color: #2e2e2e;
        }
        .red-button {
          font-family: $rb;
          text-transform: uppercase;
          font-size: 13px;
          color: #fff;
          text-decoration: none;
          display: block;
          width: 80%;
          background-color: #ff3432;
          margin: 10px auto;
          height: 30px;
          padding-top: 15px;
        }

      }
      .another-dates {
        display: inline-block;
        text-align: left;
        font-family: $rb;
        font-size: 14px;
        .another-dates-value {
          display: inline;
          font-family: $rr;
        }
      }
    }
    .poster-descr-bot {
      padding: 24px 74px;
      font-family: $rr;
      font-size: 14px;
      color: #2e2e2e;
    }
    .social {
      display: block;
      float: left;
      text-align: left;
      h4 {
        font-family: $rb;
        font-size: 16px;
        color: #2a2a2a;
      }
    }


  .banner-bottom {
    width: 96%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    img {
      width: 100%;
    }
  }
  .countback-container {
    width: 25%;
    position: absolute;
    right: 0;
    top: 69px;
    h4{
      font-family:$rb;
      font-size: 16px;
      color: #000;
    }
    .counter-days{
      font-family:$rb;
      font-size:14px;
      position: absolute;
      left: 10%;
    }
    .counter-hours{
      font-family:$rb;
      font-size:14px;
      position: absolute;
      right: 39%;
    }
  .flip-clock-wrapper {
    zoom: 0.5;
    -moz-transform: scale(0.5);
    width: 100%;

    .flip-clock-label {
      display: none;
    }
    .minutes {
      display: none;
    }
    ul:nth-child(8) {
      display: none;
    }
    ul:nth-child(9) {
      display: none;
    }
  }
}
  .social{
    margin-bottom: 20px;
  }
}
.prefooter-social{
  width: 100%;
  float: left;
  .social{
    width: 50%;
    float: left;
    text-align: center;
  }
}