# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
/common/classes/WordFunctions.php
/frontend/web/media/upload/
/cgi-bin/
Would skip repository theme/da-html/
theme/node_modules/
theme/package-lock.json
/node_modules/
/package-lock.json
!/common/classes/

/logs
