@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 770px) {
  .consulting .consulting-item .link{
    width: 50%;
  }
}

@media only screen and (max-width: 736px) {

}
@media only screen and (max-width: 634px) {
  .consult-item .consult-item-mnu{
    width: 100%;
  }
  .consult-item .consult-item-content{
    width: 100%;
    padding: 20px 0;
  }
  .consult-item .consult-item-mnu .shape{
    width: 100%;
  }
  .right-bar .right-bar__ad .right-bar__ad_items{
    width: 45%;
  }
}

@media only screen and (max-width: 500px) {
  .consulting .consulting-item{
    width: 100%;
    height: auto;
    .link{
      width: 60%;
    }
    margin-bottom: 20px;
  }
  .faq .faq-items .faq-item .faq-item-img{
    width: 100%;
    height: auto;
    max-height: none;
  }
  .right-bar .right-bar__ad .right-bar__ad_items{
    width: 93%;
  }
}

@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 320px) {

}
