@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 991px) {
  .comments-count{
    display: none;
  }
  .comments .comments-form{
    padding-left:0;
  }
  .comments .comments-content{
    padding-left: 0;
  }
}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 736px) {

}
@media only screen and (max-width: 634px) {

}

@media only screen and (max-width: 500px) {
  .comments .comments-form input[type=submit]{
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 320px) {

}
