.header__top{
  width: 100%;
  float: left;
  position: relative;
  background-color: #edeef0;
  padding: 8px 0;
  box-sizing: border-box;
}

.city{
  width: 24%;
  float: left;
  display: inline-block;
}
.city-string{
  float: left;
  color: #e00500;
  font-family: $osr;
  font-weight: 300;
  margin: 0;
}
.geo-city{
  size: 12px 16px;
  background-image: url("../img/geo-city.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 5px;
}

.delivery_block{
  min-width: 22%;
  padding:  0;
  font-size: 11px;
  display: block;
  float: left;
  position: relative;
}
.delivery_block .delivery_list {
padding: 0 6px;
cursor: pointer;
color: #ed4226;
width: 100%;
z-index: 11;
margin-top: -3px;

}
.delivery_list #btn {
		width: 0;
		height: 0;
  	border-left: 7px solid transparent;
  	border-right: 7px solid transparent;
  	border-top: 12px solid #ffd800;
		position: absolute;
		right: 5%;
		top: 10px;

}
.delivery_list span {
display: block;
font-size: 15px;
font-family: $osr;
color: #242424;
line-height: 24px;
}
.delivery_block ul.cities_list {
margin-top: 0;
z-index: 10;
background-color: #edeef0;
position: absolute;
width: 100%;
padding: 0;
display: none;
}
ul.cities_list li {
padding: 6px;
box-sizing: border-box;
list-style-type: none;
font-family: $osr;
font-size: 16px;
color: #242424;
position: relative;
&::before{
	content: "";
	position: absolute;
	background-image: url("../img/disk.png");
	width: 5px;
	height: 5px;
	margin-left: -20px;
  margin-top: 10px;

}

}

.sign{
  float: right;
  a{
    font-style: italic;
    font-size:14px;
    color: #242424;
    margin-left:25px;
    display: inline-block;
    img{
      margin-right: 10px;
    }
    span{
      display: inline-block;
    }
  }
}

ul.cities_list li:hover {
cursor: pointer;
color: #ff3432;
}
.delivery_block .delivery_text {
padding: 3px 5px;
margin: 5px 0 0 3px;
}

.weather{
  min-width: 10%;
  float: left;
  display: inline-block;
  color: #242424;
  margin: 0;
}

.sun{
  display: inline-block;
  size: 17px;
  background-image: url("../img/sun.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}

.currency{
  min-width: 20%;
  float: left;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5%;
  p{
    margin: 0 10px;
    float: left;
    text-transform: uppercase;
    font-size: 15px;
    font-family: $osr;
    color: #242424;
    span{
      color: #e00500;
      float: right;
      margin-left: 5px;
    }
  }
}

.search{
  width: 20%;
  float: left;
  position: relative;
  display: inline-block;
  form{
    width: 100%;
    float: left;
    display: inline-block;
    .search-icon{
      size: 12px 17px;
      background-image: url("../img/search-icon.png");
      background-repeat: no-repeat;
      display: inline-block;
      float: left;
    }
    input{
      width: 92%;
      float: right;
      border-bottom: 1px solid #242424;
      background-color: transparent;
      outline: none;
      border: none;
      padding-left: 10px;
      box-sizing: border-box;
      color: #242424;
    }
  }
}

.header__main{
  width: 90%;
  float: left;
  position: relative;
  background-color: #fff;
  padding: 0;
  box-sizing: border-box;
  border-top:1px solid red;
  border-bottom:1px solid red;
  margin-left: 10%;

  &_logo{
    width: 26%;
    float: left;
    position: relative;
    display: inline-block;
    color: #797979;
    font-family: $ebi;
    font-size: 27px;
    text-transform: uppercase;
    text-decoration: none;
    font-style: italic;
    font-weight: 900;
    margin-left: -3.7%;
    img{
      display: block;
    }
    span{
      color: #ffa000;
      display: inline-block;
    }
  }
  &_panel{
    width: 70%;
    float: left;
    position: relative;
    padding: 20px 0;
    box-sizing: border-box;
    &-add-cont{
      text-decoration: none;
      font-family: $osr;
      font-size: 14px;
      color: #424242;
      min-width: 30%;
      float: left;
      text-transform: lowercase;
      margin-left:8.5%;
      .icon{
        height: 18px;
        width: 18px;
        background-repeat: no-repeat;
        float: left;
        margin-right: 10px;
        margin-top: 4px;
        position: relative;
        left: 6px;
      }
      &:hover{
        color: #ff3432;
      }
      .header-plus{
        background-image: url("../img/header-plus.png");
      }
      .header-news{
        background-image: url("../img/header-news.png");
      }
    }
    &_user{
      width: 40%;
      float: right;
      position: relative;
      display: inline-block;
      &-name{
        float: left;
        text-decoration: none;
        font-size: 14px;
        font-family: $osr;
        color: #fff;
        &:hover{
          color: #ffa000;
        }
      }
      &-pic{
        size: 41px;
        position: relative;
        float: left;
        display: inline-block;
        text-decoration: none;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -12px;
        left: 6%;
        img{
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
      &-exit{
        float: right;
        position: relative;
        size: 18px;
        display: inline-block;
        .exit-icon{
          display: inline-block;
          height: 18px;
          width: 18px;
          background-repeat: no-repeat;
          position: relative;
          background-image: url("../img/exit.png");
        }
      }
    }
  }
}
.header-menu-bot{
  display: block;
  height: 35px;
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #edeef0;
  text-align: center;
  padding-top: 7px;
  .header-menu-bot-mnu{
    li{
      display: inline-block;
      a{
        font-family:$rb;
        font-weight: 900;
        font-size: 14px;
        color: #242424;
        text-decoration: none;
        margin: 0 15px;
        text-transform: uppercase;
        &:hover{
          color:#ff3432;
        }
      }
    }
  }
}
.header__menu{
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  &_mnu{
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    float: left;
    margin-bottom: 0;
    li{
      position: relative;
    }
     ul{
      display: block;
       padding:0;
       width: 100%;
       max-height: 0;
       position: absolute;
       top: 45px;
       left: 0;
       background-color: #fff;
       z-index: 5;
       -webkit-transition: max-height 0.3s ease-in;
       -moz-transition: max-height 0.3s ease-in;
       -o-transition: max-height 0.3s ease-in;
       transition: max-height 0.3s ease-in;
       overflow: hidden;
       li{
         display: block;
         padding: 12px 0;
         text-align: center;
         cursor: pointer;
         position: relative;
          &:hover{
           background-color: #ddd;

           a{
             color:#ff3432;
           }
         }
         a{
           
             font-size: 14px;
             text-transform: capitalize;
           
         }
       }
    }
    li{
      display: inline-block;
      list-style-type: none;
      padding: 15px 0;
      box-sizing: border-box;
      &:hover > ul {
        display:block;
        width: 100%;
        max-height: 1000px;

      }
      a{
        text-decoration: none;
        text-transform: uppercase;
        //color: rgba(66, 66, 66, 0.7);
        color: #424242;
        font-size: 14px;
        font-family: $rb;
        font-weight: 900;
        min-width: 130px;
        margin:0 15px;
        .count{
          width: 24px;
          height: 16px;
          background-color: #ffa000;
          border-radius: 2px;
          font-size: 12px;
          color: #fff;
          line-height: 16px;
          position: relative;
          display: inline-block;
          font-family: $rr;
        }
      }
    }
    li.active{
      //border-bottom: 2px solid #ffc107;
      a{
        color: #ff3432;
      }
    }
  }
}


.header__banner{
  width: 100%;
  float: left;
  border-top: 5px solid #f8f5ed;
  border-bottom:10px solid #fffcf4;
  img{
    width: 100%;
    float: left;
    height: 100%;
  }
}




.toggle_mnu {
	display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -53px;
  z-index: 3;
  border: none;
  right: 4%;
  background-color: transparent;
  outline: none;
 }
		span {
  		display: block;
     }
			.sandwich {
			  width: 25px;
			  height: 34px;
			  position: absolute;
			  top: 23px;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  margin: auto;
			  z-index: 200; }

				.sw-topper {
				  position: relative;
				  top: 0;
				  width: 25px;
				  height: 3px;
				  background: white;
				  border: none;
				  border-radius: 4px;
				  transition: 0.5s, top 0.2s;
				  display: block; }

				.sw-bottom {
				  position: relative;
				  width: 25px;
				  height: 3px;
				  top: 6.6px;
				  background: white;
				  border: none;
				  border-radius: 4px;
				  transition: 0.5s, top 0.2s;
				  transition-delay: 0.2s, 0;
         }

				.sw-footer {
				  position: relative;
				  width: 25px;
				  height: 3px;
				  top: 13.5px;
				  background: white;
				  border: none;
				  border-radius: 4px;
				  // transition: all 0.5s;
				  // transition-delay: 0.1s;
        }

				.sandwich.active .sw-topper {
				  top: 9px;
				  transform: rotate(-45deg); }
				.sandwich.active .sw-bottom {
				  top: 6px;
				  transform: rotate(45deg); }
				.sandwich.active .sw-footer {
				  opacity: 0;
				  top: 0;
				  transform: rotate(180deg); }

.sw-topper,.sw-bottom,.sw-footer{
  background-color: #ddd;
}
.social-head{
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: right;
  float: right;
  li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;

    .circle{
      size: 20px;
      background-color: #9a9a9a;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      text-align: center;
      i{
        color: #fff;
        position: absolute;
        left: 26%;
        bottom: 22%;
        @include hov-red;
        font-size:12px;
      }
      .fa-vk{
        left: 17%;
      }
      .fa-facebook{
        left: 33%;
      }
      .fa-instagram{
        left: 27%;
      }
      .fa-odnoklassniki{
        left: 30%;
      }
      .fa-google-plus{
        left: 17%;
      }
      .fa-youtube-play{
        left: 22%;
      }
    }
  }
}