@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 736px) {

}

@media only screen and (max-width: 500px) {
  .consulting .consulting-item{
    width: 50%;
    height: auto;
    .link{
      width: 70%;
    }
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 320px) {

}
