@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 736px) {
  .category-list-items{
    width: 100%;
  }
 .clicked-element{
    width: 100%;
 }
 .category-items-organization .category-items-item .thumb {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 500px) {
.news__post{
  .view-img{
    width: 100%;
    height: auto;
  }
  .date-news__post{
    width: 17%;
  }
}

}

@media only screen and (max-width: 320px) {

}
