@media only screen and (max-width: 1024px) {
  .poster .left-side {
    width: 98%;
  }
}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 736px) {
  .prefooter-social{
    .social{
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .poster-container{
  .date-news__post{
    width: 100%;
  }
  }
  .poster .left-side .poster-description{
    width: 100%;
    padding: 0;
    .by-ticket-container{
      margin: 0;
      width: 100%;
    }
  }
  .poster .left-side .poster-container .poster-img-container{
    margin: 0;
    width: 100%;
    img{
      width: 100%;
    }

  }
  .poster .countback-container {
    position: relative;
    top: 13px;
    right: 0;
    width: 100%;
  }
  .poster .countback-container .counter-days{
    left: 15%;
    font-size:30px;
  }
  .poster .countback-container .counter-hours{
    right: 15%;
    font-size:30px;
  }
  .poster .left-side .poster-descr-bot{
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
.poster .countback-container .flip-clock-wrapper{
  -moz-transform: scale(1.2);
  zoom: 1.2;
}
.poster{
  .left-side{
    .social{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}
  .content .poster-container .poster-img-container{
    width: 100%;
    margin: 43px 0;
  }
  .content .poster-container .poster-description {
    width: 100%;
  }
   .content__main{
    width: 100%;
    padding-right: 0;
  }
  .content .poster-description{
    padding: 0 8px;
  }
  .content .poster-description .by-ticket-container{
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .poster .countback-container .flip-clock-wrapper{
    -moz-transform: scale(1);
    zoom: 1;
  }
}
@media only screen and (max-width: 320px) {

}
