.consulting{
  padding-top: 50px;
  width: 80%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .consulting-item{
    width: 33.3%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 180px;
    text-align: center;
    i{
      font-size: 40px;
      color: #ff3432
    }
    h4{
      font-family:$rb;
      color: #040000;
      font-size: 16px;
      margin-top:20px;
      margin-bottom: 15px;
    }
    .line{
      width: 30%;
      height: 1px;
      background-color: #c9b283;
      margin: 0 auto;
      margin-bottom:25px;
    }
    .link{
      display: block;
      margin: 0 auto;
      font-family: $rr;
      color: #000;
      font-size: 13px;
      width: 35%;
      padding:6px;
      border: 1px solid #345ba0;
      border-radius: 3px;
      text-decoration: none;
    }
  }
}