.title{
  width: 100%;
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  background-color: #edeef0;
  .title-full-width{
    width: 100%!important;
  }
  h2,h1{
    color: #ff3432;
    margin: 0;
    text-transform: uppercase;
    font-family: $rb;
    float: left;
    display: inline-block;
    font-size: 16px;
    width: 60%;
    padding-left:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
  }
  a{
    text-decoration: none;
    font-family: $osr;
    font-size: 14px;
    color: #424242;
    margin-right: 10px;
    &:hover{
      color: #ff3432;
    }
    i{
      margin-right: 5px;
      vertical-align: -1px;
    }
  }
  .title-left-side{
    width: 80%;
    float: left;
    img{
      margin-right: 5px;
      margin-top: -2px;
      width: 13px;
    }
  .title-right{
    float: right;
    text-align: right;
    width: 40%;
    padding-top: 15px;
    padding-right: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }
  }
  .popular-container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float: right;
      .popular{
        height: 100%;
        width: 100%;
        display: inline-block;
        height: 50px;
        position: relative;
        padding: 15px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #e6e3e3;
        text-decoration: none;
        color: #242424;
        font-size: 16px;
        font-family: $rb;
        @include hov-red;
        font-weight: 900;
        text-align: center;
              span{
                background-image: url("../img/hands.png");
                size: 16px 15px;
                background-repeat: no-repeat;
                position: relative;
                display: inline-block;
                margin-right: 5px;
              }
      }

  }
}
//.title{

//  h2{

//    float: left;
//    display: inline-block;
//    font-size: 16px;
//    width: 50%;
//    padding-left: 10px;
//    box-sizing: border-box;
//    margin-top: 15px;
//  }
//  .header__main_panel-add-cont{
//    margin-top: 15px;
//  }
//  .all-news{
//    display: inline-block;
//    margin-top:15px;
//  }
//  .popular{
//    display: inline-block;
//    height: 50px;
//    position: relative;
//    top:0;
//    padding: 15px 0;
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    box-sizing: border-box;
//    background-color: #e6e3e3;
//  }
//  .title-right{
//    width: 50%;
//    float: right;
//    text-align: right;
//    .add-organization{
//      text-decoration: none;
//      font-family: OpenSansRegular;
//      color: #000;
//      font-size:14px;
//      i{
//        margin-right:5px;
//      }
//      &:hover{
//        color: #ff3432;
//      }
//    }
//    .all-news{
//      text-decoration: none;
//      color: #242424;
//      text-transform: lowercase;
//      font-size: 14px;
//      font-family: $osr;
//      @include hov-red;
//      padding: 0 3px;
//      box-sizing: border-box;
//      margin-right: 8px;
//      i{
//        margin-right: 3px;
//      }
//    }
//    .popular{

//

//
//    }
//  }
//}


.content{
  width: 100%;
  float: left;
  display: block;
  position: relative;
}
.content__main{
  width: 80%;
  float: left;
  display: block;
  position: relative;
  padding-right: 16px;
  box-sizing: border-box;
  &_mnu{
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    float: left;
    .menu-link{
      display: inline-block;
      list-style-type: none;
      padding: 10px 0;
      box-sizing: border-box;
      margin: 0 7px;
      // min-width: 130px;
      a{
        text-decoration: none;
        text-transform: uppercase;
        color: #424242;
        font-size: 14px;
        font-family: $rb;
        font-weight: 900;
        .count{
          width: 24px;
          height: 16px;
          background-color: #ffa000;
          border-radius: 2px;
          font-size: 12px;
          color: #fff;
          line-height: 18px;
          position: relative;
          display: inline-block;
          font-family: $rr;
        }
      }
    }
    .menu-link.active{
      border-bottom: 2px solid #ff0200;
      a{
        color: #424242;
      }
    }
  }
  &_post{
    width: 50%;
    float: left;
    background-color: #f3f4f5;
    margin: 10px 0;
    &_pic{
      width: 100%;
      height: 300px;
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .date-post{
        min-width: 25%;
        position: absolute;
        background-color: #edeef0;
        box-sizing: border-box;
        text-decoration: none;
        padding: 5px 0;
        .date{
          font-size: 13px;
          color: #ff3432;
          font-family: $rr;
          padding-left: 10px;
          padding-right: 10px;
          box-sizing: border-box;
          display: inline-block;
          border-right: 1px solid transparent;
        }
        .note{
          display: inline-block;
          width: 10px;
          height: 13px;
          background-image: url("../img/note.png");
          background-repeat: no-repeat;
          background-size: cover;
          margin: 0 10px;
        }
      }
    }
    &_text{
      width: 100%;
      float: left;
      padding: 10px 25px;
      box-sizing: border-box;
      display: inline-block;
      color: #5b5b5b;
      h2{
        margin: 0;
        padding: 10px 0;
        box-sizing: border-box;
        font-size: 22px;
        text-transform: uppercase;
        font-family: $rr;

      }
      p{
        margin: 0;
        padding: 10px 0;
        box-sizing: border-box;
        text-align: justify;
        font-family: $rr;
      }
    }
    &_navigation{
      width: 100%;
      float: left;
      padding: 10px 25px;
      box-sizing: border-box;
      display: inline-block;
      .views, .comments, .next-read{
        min-width: 20%;
        float: left;
        display: inline-block;
        text-decoration: none;
        color: #5b5b5b;
        font-size: 12px;
        font-family: $rr;
        margin-right: 15px;
      }
      .view-icon{
        size: 18px 12px;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("../img/view-icon.png");
        margin-right: 5px;
      }
      .comments-icon{
        size: 13px 12px;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("../img/comments-icon.png");
        margin-right: 5px;
      }
      .next-read{
        float: right;
      }
      .arrow-next{
        size: 6px 10px;
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url("../img/arrow-next.png");
        margin-left: 5px;
      }
    }
  }
  &_posts{
    width: 49%;
    float: left;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 18px;
    .watch-all{
      position: relative;
      bottom: -8px;
      text-decoration: none;
      color: #ff3432;
      font-family: $rr;
      font-size: 14px;
    }
    &_items{
      width: 100%;
      float: left;
      display: inline-block;
      padding: 6px 0;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(0, 1, 2, 0.4);
      text-decoration: none;
      &:last-of-type{
        border-bottom: none;
      }
      &:hover{
        .post-of-time{
          color: #ff3432;
        }
      }
      .post-of-time{
        font-family: $rm;
        font-size: 14px;
        color: #2e2e2e;
        font-weight: 500;
        margin: 0;
      }
      .posts-time{
        font-family: $rb;
        font-size: 11px;
        color: #ff3432;
        font-weight: 700;
        padding-right: 10px;
        box-sizing: border-box;
      }
    }

  }
  .category{
    margin-bottom: 20px;
    width: 100%;
    float: left;
    position: relative;
    padding: 2px 0;
    box-sizing: border-box;
    .category-list-block, .category-list-block-mob{
      width: 35%;
      float: left;
      display: block;
      box-sizing: border-box;
      padding-top: 10px;
    }
    .category-list, .category-list-hide, .category-list-hide-mob{
      width: 100%;
      float: left;
      display: block;
      position: relative;
      padding-left: 18px;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      li{
        list-style-type: square;
        box-sizing: border-box;
        a{
          text-decoration: none;
          font-family: $rb;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 700;
          color: #2e2e2e;
          @include hov-red;
        }
      }
    }
    .more-categories{
      float: left;
      display: inline-block;
      width: 70%;
      cursor: pointer;
      font-family: $rr;
      font-size: 12px;
      margin-top: 6px;
      b{
        display: inline-block;
        size: 5px;
        background-color: #ff3432;
        border-radius: 50%;
        margin: 0 2px;
        &:last-of-type{
          margin-right: 5px;
        }
      }
    }
    .category-list-hide{
      display: none;
    }
    .category-list-hide-mob, .category-list-block-mob{
      display: none;
    }
    .category-items{
      width: 62%;
      float: left;
      position: relative;
      text-align: center;
      margin-left: 24px;
      &-item{
        width: 98%;
        height: 83px;
        float: left;
        display: inline-block;
        padding: 15px;
        box-sizing: border-box;
        //border: 1px solid rgba(241, 125, 22, 0.12);
        border: 1px solid rgba(24,24,24,0.12);
        margin: 10px 0;
        .thumb{
          float: left;
          width: 20%;
          overflow: hidden;
          img{
            width: 100%;
            height: 54px;
            object-fit: cover;
          }
        }
        .info{
          width: 50%;
          float: left;
          display: inline-block;
          text-align: left;
           padding-left: 10px;
           box-sizing: border-box;
          h2{
            font-family: $rb;
            font-size: 14px;
            font-weight: 700;
            color: #2e2e2e;
            margin: 0;
            overflow: hidden;
            height: 30px;
          }
          p{
            font-size: 12px;
            font-family: $rr;
            font-weight: 400;
            color: #2e2e2e;
            margin: 0;
            padding: 7px 0;
            box-sizing: border-box;
            overflow: hidden;
            height: 24px;
          }
          small{
            font-size: 10px;
            font-family: $rr;
            font-weight: 400;
            color: #2e2e2e;
            margin: 0;
            padding: 2px;
            box-sizing: border-box;
            border: 1px solid #ff3432;
          }
        }
        .contacts{
          float: left;
          width: 30%;
          text-align: right;
          margin-top: -5px;
          span{
            color: #2e2e2e;
            font-family: $rr;
            font-size: 12px;
            font-weight: 700;
            line-height: 1.8;
            width: 95%;
            overflow: hidden;
            height: 62px;
          }
        }
      }
      //&::after{
      //  content: "";
      //  position: absolute;
      //	width: 0;
      //	height: 0;
      //  right: 2%;
      //  top: 1.5%;
      //  border-top: 30px solid #ff3432;
      //  border-left: 30px solid transparent;
      //}
    }
  }
  .afisha{
    overflow: hidden;
    width: 100%;
    float: left;
    position: relative;
    padding: 35px 0;
    box-sizing: border-box;
    &__left{
      width: 40%;
      float: left;
      position: relative;
      .afisha__main{
        width: 100%;
        float: left;
        position: relative;
        .thumb{
          width: 100%;
          height: 230px;
          position: relative;
          text-align: center;
          img{
            width: 97%;
            height: 100%;
            float: right;
            object-fit: cover;
          }
          .afisha-date{
            position: absolute;
            background-color: #c80000;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            font-family: $rr;
            text-align: center;
            width: 16%;
            left: 0;
            top: -7px;
            b{
              font-size: 19px;
              font-family: $rb;
            }
          }
        }
        .about{
          padding-left: 11px;
          box-sizing: border-box;
          width: 100%;
          float: left;
          text-align: left;
          font-size: 14px;
          font-family: $rb;
          p{
            margin: 0;
            color: #2e2e2e;
            font-weight: 700;
            padding: 15px 0;
            box-sizing: border-box;
            &:last-of-type{
              padding-top: 0;
            }
          }
          h2{
            margin: 0;
            color: #a16c17;
            font-weight: 700;
            text-transform: uppercase;

          }
        }
      }
    }
    &__right{
      width: 60%;
      float: left;
      display: block;
      padding-left: 20px;
      box-sizing: border-box;
      &_item{
        width: 23%;
        height: 180px;
        float: left;
        display: inline-block;
        margin:20px 4px 0;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        &:nth-of-type(1){
          margin-top: 0;
        }
        &:nth-of-type(2){
          margin-top: 0;
        }
        &:nth-of-type(3){
          margin-top: 0;
        }
        &:nth-of-type(4){
          margin-top: 0;
        }
        img{
          width: 100%;
          height: 105px;
          object-fit: cover;
        }
        p{
          margin: 0;
          padding: 5px 0;
          box-sizing: border-box;
          color: #2e2e2e;
          font-family: $rr;
          font-size: 14px;
          height: 67px;
          overflow: hidden;
        }
        .afisha-date-small{
          position: absolute;
          background-color: #c80000;
          padding: 4px;
          box-sizing: border-box;
          color: #fff;
          text-transform: uppercase;
          font-size: 11px;
          font-family: $rr;
          text-align: center;
          width: 39%;
          left: 0;
          top: 0;
          b{
            font-size: 15px;
            font-family: $rb;
          }
        }
      }
    }
  }
  .banner-bottom{
    width: 98%;
    float: left;
    position: relative;
    margin: 0 0 20px;
    img{
      width: 100%;
      height: 160px;
    }
  }
  .shape {
    float: left;
    width: 100%;
    height: 11%;
    margin-top: 8px;
  }
}
.right-bar{
  width: 20%;
  padding-top: 18px;
  float: left;
  position: relative;
  text-align: center;
  .rb-separator{
    display: block;
    width: 100%;
    height: 11px;
    background-image: url("../img/rb-separator.png");
    background-size: cover;
    margin-top: 10px;
  }
  .white-overlay{
    background-color: #fff;
    height: 70px;
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  
  background-color: #f5f5f5;
  h2{
    font-family: $rr;
    text-align: center;
    font-size: 18px;
    color: #2e2e2e;
  }
  .right-bar__ad, .right-bar__ad-room{
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    &_items{
      width: 100%;
      float: left;
      position: relative;
      margin: 10px 0 0;
      img{
        width: 100%;
        //height: 145px;
        height: auto;
        object-fit: contain;
      }
      h4{
        margin: 0;
        text-align: left;
        font-size: 12px;
        text-decoration: underline;
        font-family: $rb;
        color: #9b4c07;
        padding-top: 10px;
        box-sizing: border-box;
        padding-left: 10px;
      }
      span{
        float: left;
        color: #424242;
        font-family: $rr;
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
      }
    }
  }

  .add-ad{
    margin: 17px 0;
    display: inline-block;
    width: 100%;
    float: left;
    color: #fff;
    font-family: $rb;
    font-size: 14px;
    height: 35px;
    background-color: #ff3432;
    box-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.13);

    text-decoration: none;
    line-height: 35px;
  }
  &__ad-room{
    background-color: #f4e9e9;
    padding: 20px 20px;
    box-sizing: border-box;
    h2{
      font-family: $rb;
      color: #000;
      font-size: 16px;
      text-align: left;
      margin: 0 0 10px;
      text-transform: uppercase;
      text-align: center;
    }
    .ad-room{
      width: 100%;
      float: left;
      display: inline-block;
      position: relative;
      text-decoration: none;
      margin: 10px 0;
      img{
        float: left;
        width: 100%;
        //height: 126px;
        height: auto;
        margin-bottom: 10px;
        object-fit: contain;
      }
      h4{
        margin: 0;
        color: #0f0701;
        font-family: $rr;
        text-align: left;
        font-size: 15px;
        font-weight: 400;
        padding: 10px 0;
        box-sizing: border-box;
      }
      p{
        width: 100%;
        float: left;
        text-align: left;
        color: #464646;
        font-family: $rr;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        .geo-icon{
          display: inline-block;
          width: 8px;
          height: 12px;
          margin-right: 10px;
          background-image: url("../img/geo-icon.png");
          background-repeat: no-repeat;
        }
      }
    }
  }
  .right-bar-social{
    width:100%;
    float: left;
    h4{
      font-family:$rb;
      font-size:12px;
      color: #242424;
      margin: 18px 0;
    }
    img{
      width: 100%;
    }
  }
}
.content__main_mnu{
  display: none;
}
.tgl_mnu{
  cursor: pointer;
  text-decoration: underline;;
}
.cont-info{
  font-family: $rb;
  font-size: 18px;
  margin-top:30px;
}
