.myModal {
    width: 50%;
    height: 300px;
    background-color: antiquewhite;
    margin: 30px auto;
    display: none;
    border: 1px solid brown;
    z-index: 9002;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    position: relative;
    padding: 10px;
}

.mClose {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fadeIn {
    opacity: 1;
}

.__overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    z-index: 9001;
}

.modalImgEditBox {
    width: 600px;
    max-height: 375px;
    margin: 0 auto;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.modalImgEditBox img {
    width: 100%;
}

.dnd {
    width: 100px;
    height: 100px;
    border: 3px dashed gray;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}