.media__upload_img{
    margin-bottom: 10px;
    float: left;
}

.input-group {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
}

.itemImg{
    float: left!important;
    display: inline-block;
    width: 30%!important;
}

.contentLoginAdmin{
    margin-left: 0;
}