.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3!important;
}

.alert-success {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 20px;
    z-index: 99;
    background: #1c760c!important;
    color: #fff!important;
}

.field-company-descr{
    width: calc(100% - 165px);
}

.ya-share2__list_direction_horizontal{
    list-style-type: none;
    padding: 0;
}

.ya-share2__item{
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 7px;
    margin-top: 0;
}

.ya-share2__item_service_facebook a{
    background: #365aa4 url(../theme/portal-donbassa/img/soc/fb.png) no-repeat 50% 50%;
    background-size: 65%;
}
.ya-share2__item_service_vkontakte a{
    background: #527498 url(../theme/portal-donbassa/img/soc/vk.png) no-repeat 50% 50%;
    background-size: 65%;
}
.ya-share2__item_service_odnoklassniki a{
    background: #ff8304 url(../theme/portal-donbassa/img/soc/ok-icon.png) no-repeat 50% 50%;
    background-size: 34%;
}
.ya-share2__item_service_gplus a{
    background: #d6492f url(../theme/portal-donbassa/img/soc/google-icon.png) no-repeat 50% 50%;
    background-size: 59%;
}

.ya-share2__item_service_pinterest a{
    background: #d50c22 url(../theme/portal-donbassa/img/soc/pinter-icon.png) no-repeat 50% 50%;
    background-size: 59%;
}

.ya-share2__item_service_twitter a{
    background: #1ab2e8 url(../theme/portal-donbassa/img/soc/twi-icon.png) no-repeat 50% 50%;
    background-size: 59%;
}

.ya-share2__item_service_linkedin a{
    background: #0084bf url(../theme/portal-donbassa/img/soc/in-f.png) no-repeat 50% 50%;
    background-size: 59%;
}

.ya-share2__item_service_lj a{
    background: #09C url(../theme/portal-donbassa/img/soc/livejournal-f.png) no-repeat 50% 50%;
    background-size: 59%;
}
.ya-share2__item_service_telegram a{
    background: #179cde url(../theme/portal-donbassa/img/soc/telegram-f.png) no-repeat 50% 50%;
    background-size: 59%;
}

span.feedback_error {
    display: block;
    text-align: center;
    color: red;
    font-size: 18px;
}